{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": "off",
    "object-curly-spacing": "off",
    "arrow-parens": "off",
    "require-jsdoc": "off",
    "space-before-blocks": "off",
    "no-trailing-spaces": "off",
      "padded-blocks": "off",
    "indent": "off",
    "no-undef": "off",
    "comma-dangle": "off",
    "no-debugger": "off",
    "eol-last": "off",
    "space-before-function-paren": "off",
    "operator-linebreak": "off"
  },
  "extends": [
    "eslint:recommended",
    "google"
  ]
}
