{
  "singleQuote": true,
  "arrowParens": "avoid",
  "useTabs": false,
  "trailingComma": "es5",
  "importOrder": [
    "^@core/(.*)$",
    "^@(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
